.countrybar {
    margin-top: 80px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-top: 7px;
    height: 42px;
    width: 100%;
    background-color: #e6e7e6;
    text-align: left;
    font-weight: 300;
}